
{{ define "psalm.html" }}
<section data-section-type="psalm" class="stack">
  <section>
    <div class="sl-block centered-block">
      <div class="sl-block-content">
        <span style="font-size:2.0em">
          {{ .Title }} 
        </span>
      </div>
    </div>
    <div class="sl-block centered-block" style="top: 661px;">
      <div class="sl-block-content">
        <span style="font-size:0.9em">
          {{ .Reference }}
        </span>
      </div>
    </div>
  </section>
  <!-- Slides 2...N: Reading Content (Paragraphs or Chunks) -->
  {{ range .Chunks }}
  <section>
    <div class="sl-block centered-block">
      <div class="sl-block-content">
        <span style="font-size:2.0em">
          {{ . }}
        </span>
      </div>
    </div>
  </section>
  {{ end }}
</section>
{{ end }}
