{{ define "title.html" }}
<section>
  <div class="sl-block" data-block-type="text" data-name="text-eb8928" style="width: 495px; left: 203px; top: 116px; height: auto;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
      <h1>
        Bienvenidos a la Iglesia de Nuestra Señora de la Gracia
      </h1>
    </div>
  </div>
  <div class="sl-block" data-block-type="image" data-name="image-471f07" style="width: 245.02px; height: 325px; left: 782.266px; top: 197.5px; min-width: 1px; min-height: 1px;">
    <div class="sl-block-content" style="z-index: 11;">
      <img class="" data-lazy-loaded="" data-natural-height="1280" data-natural-width="965" data-src="assets/image2.jpg"/>
    </div>
  </div>
</section>
{{ end }}
